@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    min-width: 50px;
    max-width: 1980px;
}
main{
    box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.288);
    background-color: rgba(189, 189, 189, 0.541);
    margin: 2px auto;
    min-height: 300px;
    max-height: 5000px;
    min-width: 50px;
    max-width: 1179px;
    border-radius: 0px 0px 10px 10px;
}
.canto{
    background-color: rgb(170, 170, 170);
    display: inline-block;
    height: 630px;
    width: 130px;
    text-align: center;
}
.fotomini{
    display:inline-block;
    margin-top: 2px;
}
.fotogrande{
    display:inline-block;
}
.fotogrande img{
    height: 600px;
    margin: 12px;

}
.fotogrande img:hover{
    box-shadow: 5px 8px 40px rgba(0, 0, 0, 0.596);
}

